---
import CustomImage from "../CustomImage.astro";
const { hero } = Astro.props;
const image = hero?.expand?.image;
---

<header
  class="full-width content-grid sm:h-dvh sm:max-h-[600px] py-32 sm:py-0"
>
  <div class="grid grid-cols-1 sm:grid-cols-2 sm:items-center gap-2">
    <article class="text-inherit max-w-prose">
      <h1 class="text-2xl sm:text-4xl font-black mb-2 text-primary-main">{hero.title}</h1>
      <p>{hero.excerpt}</p>
    </article>
    <div class="max-h-[500px] w-full h-full">
      <CustomImage
        image={image}
        classes="object-contain object-center h-full w-full"
        lazy={false}
      />
    </div>
  </div>
</header>
