---
import CustomImage from "../CustomImage.astro";

const { cards, highlight, page } = Astro.props;
---

<div class="mt-8">
  <div class="grid gap-4 sm:gap-0 md:grid-cols-2 lg:grid-cols-2">
    {
      //@ts-ignore
      cards &&
        cards.map((card, index) => (
          <article
            class={`group bg-white text-neutral-900 overflow-hidden grid grid-cols-1 sm:grid-cols-2 sm:grid-rows-1 gap-2 sm:gap-0 w-full p-2 rounded-lg sm:p-0 sm:rounded-none`}
          >
            {card.image && (
              <CustomImage
                image={card?.expand?.image}
                classes={`${index % 4 < 2 ? "sm:col-[2/-1]" : "sm:col-[1/2]"} ${page === "small card grid" ? "object-contain" : "object-cover"} sm:row-[1/-1] w-full h-64 sm:h-full rounded-lg sm:rounded-none border-2 border-transparent group-hover:border-primary-main`}
                lazy={true}
              />
            )}
            <div
              class={`${index % 4 < 2 ? "sm:col-[1/2] group-hover:translate-x-4" : "sm:col-[2/-1] group-hover:-translate-x-4"} flex flex-col sm:items-start sm:justify-center transition-all sm:row-[1/-1] py-2 px-2 sm:h-auto sm:px-4 bg-inherit self-center group-hover:shadow-sm border-2 border-transparent group-hover:border-primary-main`}
            >
              <h3 class="text-lg m-0 mb-2 font-bold leading-none sm:text-xl">
                {card.title}
              </h3>
              {card.body && <slot set:html={card.body} />}
            </div>
          </article>
        ))
    }
  </div>
</div>

