---
import IconButton from "../IconButton.astro";
import Logo from "../Logo.astro";
import { Icon } from "astro-icon/components";
const { siteName, collection, logo, links } = Astro.props;
---

<header
  class="navbar content-grid py-2 bg-white sm:bg-transparent text-primary-darker fixed top-0 z-50 flex flex-wrap sm:justify-start sm:flex-nowrap w-full text-sm transition-colors"
  navbar-active="false"
>
  <div class="bg-transparent text-current sm:flex items-center justify-between">
    <div class="flex items-center justify-between">
      <Logo
        siteName={siteName}
        collection={collection}
        logo={logo}
        classes="logo size-44 transition-all"
      />

      <div class="sm:hidden">
        <button
          id="menuToggle"
          type="button"
          class="p-2 flex justify-center items-center rounded-md border border-none bg-primary-light text-white active:bg-secondary-main disabled:opacity-0 disabled:pointer-events-none"
          aria-label="Toggle Mobile Menu"
        >
          <Icon
            name="mdi:menu"
            aria-hidden="true"
            focusable="false"
            class="menuBtnToggleIcon nav--open flex-shrink-0 size-4"
          />
          <Icon
            name="mdi:close"
            aria-hidden="true"
            focusable="false"
            class="menuBtnToggleIcon nav--closed flex-shrink-0 size-4"
          />
        </button>
      </div>
    </div>
    <div
      id="navbar__links"
      class="sm:relative absolute translate-y-0 w-full sm:w-max left-0 p-4 shadow-md sm:shadow-none rounded-b-lg sm:rounded-none sm:p-0 hidden overflow-hidden transition-all duration-300 sm:block bg-white sm:bg-transparent"
    >
      <menu
        class="flex flex-col gap-5 mt-5 sm:flex-row sm:gap-1 sm:flex-wrap sm:justify-end sm:mt-0 sm:px-0 sm:w-max"
      >
        {
          links &&
            links.map((link: any, index: number) => (
              <a
                class={`capitalize font-bold hover:bg-secondary-main hover:text-white p-4 sm:px-4 sm:py-2 rounded-md ${index === links.length - 1 ? "cta-link bg-primary-dark text-white" : "text-current"}`}
                href={index === 0 ? "/" : `#${link.split(" ").join("-")}`}
              >
                {link}
              </a>
            ))
        }
      </menu>
    </div>
  </div>
</header>

<script>
  const getYPosition = () =>
    window.scrollY || document.documentElement.scrollTop;
  const matchMedia = () => window.matchMedia("(min-width:640px)").matches;
  
  // Toggle the menu when the button is clicked
  function toggleMenu() {
    const showBtn = document.querySelector("#menuToggle");
    if (showBtn) {
      showBtn.addEventListener("click", () => {
        const nav = document.querySelector("#navbar__links");
        const navBar = document.querySelector(".navbar");

        if (nav) {
          const icons = document.querySelectorAll(".menuBtnToggleIcon");
          icons.forEach((icon) => {
            icon.classList.toggle("nav--closed");
          });
          nav.classList.toggle("nav--open");
        }

        if (navBar) {
          const isActive =
            navBar.attributes.getNamedItem("navbar-active").value;
          isActive === "false" && navBar.setAttribute("navbar-active", "true");
          isActive === "true" &&
            getYPosition() <= 0 &&
            navBar.setAttribute("navbar-active", "false");
        }
      });
    }
  }

  function navChangeColor() {
    const navBar = document.querySelector(".navbar");
    const nav = document.querySelector("#navbar__links");
    const ctaLink = document.querySelector(".cta-link");
    const logo = document.querySelector(".logo");
    document.addEventListener("scroll", () => {
      if (getYPosition() > navBar.getBoundingClientRect().height) {
        navBar.setAttribute("navbar-active", "true");
        // matchMedia() && nav.classList.remove("sm:text-white");
        // ctaLink.classList.remove("bg-white", "text-primary-darker");
        // ctaLink.classList.add("bg-primary-dark", "text-white");

        logo.classList.add("size-32");
        logo.classList.remove("size-44");
      } else {
        matchMedia() && navBar.setAttribute("navbar-active", "false");
        // matchMedia() && nav.classList.add("sm:text-white");
        // ctaLink.classList.add("bg-white", "text-primary-darker");
        // ctaLink.classList.remove("bg-primary-dark", "text-white");

        logo.classList.remove("size-32");
        logo.classList.add("size-44");
      }
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    toggleMenu();
    navChangeColor();
  });
</script>

<style>
  .nav--open {
    display: block;
  }

  .nav--closed {
    display: none;
  }

  [navbar-active="true"] {
    background-color: white;
    color: var(--primary-darker);
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  [navbar-active="false"] {
    background-color: transparent;
    color: var(--primary-darker);
  }
</style>
