---
import CustomImage from "./CustomImage.astro";

const { cards } = Astro.props;
---

<div class="py-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl lg:py-8">
    <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3">
        {
            //@ts-ignore
            cards &&
                cards.map((card) => (
                    <article class="border rounded overflow-hidden bg-white">
                        {card.image && (
                            <CustomImage
                                image={card?.expand?.image}
                                classes="object-cover w-full h-64 lg:h-48 xl:h-60"
                                lazy={true}
                            />
                        )}
                        <div class="p-4">
                            <h3 class="text-lg m-0 mb-2 font-bold leading-none sm:text-xl">
                                {card.title}
                            </h3>
                            {card.body && <slot set:html={card.body} />}
                        </div>
                    </article>
                ))
        }
    </div>
</div>
