---
import { Icon } from "astro-icon/components";
import CustomImage from "./CustomImage.astro";

const { cards } = Astro.props;

---

<div class="py-8">
  <div
    class="grid row-gap-8 justify-center sm:row-gap-0 sm:grid-cols-2 lg:grid-cols-3"
  >
    {
      cards &&
        cards.map((card, idx) => (
          <div
            class={`p-4 ${idx <= 2 && "border-b"} ${idx !== 2 && "sm:border-r"}`}
          >
            <div class="max-w-prose text-center w-full">
              {card.image && (
                <div class="flex items-center justify-center mb-4 h-24 relative">
                  <CustomImage
                    image={card?.expand?.image}
                    classes="object-contain w-full h-full max-w-60"
                    lazy={true}
                  />
                </div>
              )}
              {!card?.image && (
                <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-primary-lighter text-white sm:w-16 sm:h-16">
                  <Icon
                    name="mdi:star"
                    aria-hidden="true"
                    focusable="false"
                    class="w-8 h-8 text-current sm:w-12 sm:h-12"
                  />
                </div>
              )}
              <h3 class="mb-2 font-semibold leading-5">{card.title}</h3>
              {card.body && <slot set:html={card.body} />}
            </div>
          </div>
        ))
    }
  </div>
</div>
