---
import { getImageUrl } from "../pb";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const { siteName, collection, links, logo } = Astro.props;
---

<header
    class="sticky top-0 z-50 flex flex-wrap px-4 sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-4"
>
    <nav
        class="relative container mx-auto sm:flex sm:items-center sm:justify-between"
        aria-label="Global"
    >
        <div class="flex items-center justify-between">
            <a
                class="inline-flex items-center gap-x-2 text-md w-max font-semibold"
                href="/"
            >
                {
                    logo !== '' && (
                        <Image
                            id="logo_image"
                            style="max-width:100px;height:100%;object-position:center;object-fit:contain;transition: max-width 0.3s ease;"
                            src={getImageUrl({
                                collection: collection,
                                filename: logo,
                            })}
                            loading="eager"
                            decoding="sync"
                            alt={siteName}
                            widths={[240, 400, 600, 800, 1000]}
                            sizes={`(max-width: 360px) 240px, (max-width: 500px) 400px, (max-width: 768px) 600px, (max-width: 1024px) 800px, 1000px`}
                            inferSize
                        />
                    )
                }
                <span class="text text-full">
                    {siteName}
                </span>
            </a>
            <div class="sm:hidden">
                <button
                    id="menuToggle"
                    type="button"
                    class="p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-none bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                    aria-controls="navbar_links"
                    aria-label="Toggle navigation"
                >
                    <Icon
                        name="mdi:menu"
                        aria-hidden="true"
                        focusable="false"
                        class="menuBtnToggleIcon nav--open flex-shrink-0 size-4"
                    />
                    <Icon
                        name="mdi:close"
                        aria-hidden="true"
                        focusable="false"
                        class="menuBtnToggleIcon nav--closed flex-shrink-0 size-4"
                    />
                </button>
            </div>
        </div>
        <div
            id="navbar_links"
            class="sm:relative absolute bg-white text-neutral-900 w-full 2xl:left-1/2 2xl:-translate-x-1/2 hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
        >
            <div
                class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:px-5"
            >
                {
                    //@ts-ignore
                    links &&
                        links.map((link, index) => (
                            <a
                                class={`capitalize font-bold hover:bg-amber-100 hover:text-neutral-900 py-4 sm:py-1 px-2 ${index === links.length - 1 ? "bg-amber-600 text-white" : "text-neutral-900"}`}
                                href={
                                    index === 0
                                        ? "/"
                                        : `#${link.split(" ").join("-")}`
                                }
                            >
                                {link}
                            </a>
                        ))
                }
            </div>
        </div>
    </nav>
</header>

<script>
    // Toggle the menu when the button is clicked
    function toggleMenu() {
        const showBtn = document.querySelector("#menuToggle");
        if (showBtn) {
            showBtn.addEventListener("click", () => {
                const nav = document.querySelector("#navbar_links");
                if (nav) {
                    const icons =
                        document.querySelectorAll(".menuBtnToggleIcon");
                    icons.forEach((icon) => {
                        icon.classList.toggle("nav--closed");
                    });
                    nav.classList.toggle("nav--open");
                }
            });
        }
    }

    function shrinkNav() {
        const logo = document.getElementById("logo_image");
        document.addEventListener("scroll", () => {
            const y = window.scrollY;
            if (y > 100) {
                logo.style.maxWidth = "50px";
            } else {
                logo.style.maxWidth = "100px";
            }
        });
    }
    document.addEventListener("DOMContentLoaded", () => {
        toggleMenu();
        shrinkNav();
    });
</script>

<style>
    .nav--open {
        display: block;
    }

    .nav--closed {
        display: none;
    }
</style>

