---
const {sectionTitle, excerpt, textColor} = Astro.props
---

<header class={`lg:pr-10 ${textColor}`}>
    <h2 class={`text-4xl font-extrabold leading-none text-current`}>
        {sectionTitle}
    </h2>
    <p class="mb-6 max-w-prose text-current">{excerpt}</p>
</header>